body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: Do Hyeon, Arial, Helvetica, sans-serif;
    color: #000000;
}


.nav-link {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding:None;
}

.navbar-brand {
    color: white;
    text-shadow: 2px 2px 4px #000000;
